In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext, SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

sc = SparkContext('local')
spark = SparkSession(sc)

In [18]:
data_sample = "./input/clean/agg/NOAA_meteor_data_2005.csv"

sample_df = spark.read.csv(data_sample,header=True)
sample_df.show(5)

+---+--------+-----+----------+--------+-----+-------+--------+-------+--------+---+-----+------+-----+------+----+-----+------+-----+------+----+----+------+-------+--------+-------+--------+-------+-------+-------+-------+--------+
|_c0| STNCODE|CLASS|  SMPLDATE|SMPLTIME|ATemp|MaxTemp|MaxTempT|MinTemp|MinTempT| RH|MaxRH|MaxRHT|MinRH|MinRHT|  BP|MaxBP|MaxBPT|MinBP|MinBPT|WSpd|Wdir|SDWDir|MaxWSpd|MaxWSpdT|MinWSpd|MinWSpdT|TotPrcp| TotPAR|AvgVolt|TotSRad|CummRain|
+---+--------+-----+----------+--------+-----+-------+--------+-------+--------+---+-----+------+-----+------+----+-----+------+-----+------+----+----+------+-------+--------+-------+--------+-------+-------+-------+-------+--------+
|  0|niwolmet|   15|01/01/2005|   00:15| 12.1|   12.8|       4|   11.4|      13|092|  095|    14|  090|     4|1030| 1030|     3| 1030|     9|00.9| 325|   004|   02.2|       8|   00.2|       0|   00.0|-0000.2|   12.6|   00.0|     0.0|
|  1|niwolmet|   15|01/01/2005|   00:30| 11.4|   11.5|      22|   11.2|      29|095|  096|    30|  094|    24|1030| 1030|    15| 1029|    21|00.3| 326|   005|   01.4|      15|   00.2|      16|   00.0|-0000.1|   12.6|   00.0|     0.0|
|  2|niwolmet|   15|01/01/2005|   00:45| 10.9|   11.2|      30|   10.7|      40|096|  097|    44|  095|    33|1030| 1030|    44| 1029|    33|00.2| 311|   007|   00.2|      30|   00.2|      30|   00.0|-0000.1|   12.6|   00.0|     0.0|
|  3|niwolmet|   15|01/01/2005|   01:00| 10.6|   10.7|      45|   10.5|      59|097|  097|    59|  096|    45|1030| 1030|    59| 1030|    45|00.2| 306|   000|   00.2|      45|   00.2|      45|   00.0|-0000.1|   12.6|   00.0|     0.0|
|  4|niwolmet|   60|01/01/2005|   01:00| 11.2|   12.8|       4|   10.5|      59|095|  097|    59|  090|     4|1030| 1030|     3| 1029|    21|00.4| 317|   010|   02.2|       8|   00.2|       0|   00.0|-0000.5|   12.6|   00.0|     0.0|
+---+--------+-----+----------+--------+-----+-------+--------+-------+--------+---+-----+------+-----+------+----+-----+------+-----+------+----+----+------+-------+--------+-------+--------+-------+-------+-------+-------+--------+
only showing top 5 rows

In [28]:
sample_df = sample_df.filter(F.col("Class") == '15')
sample_df.select(*(F.col(c).cast("float").alias(c) for c in sample_df.columns[5:])).printSchema()

root
 |-- ATemp: float (nullable = true)
 |-- MaxTemp: float (nullable = true)
 |-- MaxTempT: float (nullable = true)
 |-- MinTemp: float (nullable = true)
 |-- MinTempT: float (nullable = true)
 |-- RH: float (nullable = true)
 |-- MaxRH: float (nullable = true)
 |-- MaxRHT: float (nullable = true)
 |-- MinRH: float (nullable = true)
 |-- MinRHT: float (nullable = true)
 |-- BP: float (nullable = true)
 |-- MaxBP: float (nullable = true)
 |-- MaxBPT: float (nullable = true)
 |-- MinBP: float (nullable = true)
 |-- MinBPT: float (nullable = true)
 |-- WSpd: float (nullable = true)
 |-- Wdir: float (nullable = true)
 |-- SDWDir: float (nullable = true)
 |-- MaxWSpd: float (nullable = true)
 |-- MaxWSpdT: float (nullable = true)
 |-- MinWSpd: float (nullable = true)
 |-- MinWSpdT: float (nullable = true)
 |-- TotPrcp: float (nullable = true)
 |-- TotPAR: float (nullable = true)
 |-- AvgVolt: float (nullable = true)
 |-- TotSRad: float (nullable = true)
 |-- CummRain: float (nullable = true)